/* reset */
/* reset */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

p{
  margin-bottom: 0.8rem;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  color:#333;
}

ul{
  list-style: none;
}
h1,
h2,
h3,
h4{
  margin-bottom: 1rem;
}

a{
  color:#333;
  text-decoration: none;
} 
strong{
  color:#f1c40f;
  font-weight: 400;
}
em{
  color:#555;
}
/* class */
.container{
  display:block;
  max-width: 1200px;
  margin: auto;
}

.title{
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.dg-dark{
  background: #333;
  color:white;
}


  /* vp + header */
.vp-container{
  min-height:100vh;
  display:flex;
  flex-direction: column;
}
header{
  padding:1rem 2rem;
  background: #333; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}
header ul{
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
header ul li{
  padding:1rem;
}
.vp-logo{
  font-size: 1.8rem;
  margin-bottom: 0;
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.vp-logo a{
  font-size: 3rem;
  font-weight: 300;
}
.vp-logo i{
  color:#f1c40f;
  font-size: 3rem;
  margin-right: 0.5rem;
}
heade ul li a:hover{
  color:#f1c40f;
}

header a{
  color:white;
}

.vp{
  flex:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/frame.jpg) center center/cover;
}

.vp-content{
  max-width: 800px;
  text-align: center;
  color: white;
  padding:1rem;
}

.vp-content h1{
 font-size: 2.8rem;
}

.vp-content p{
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 1px;
 }
 strong{
   color:#f1c40f;
   font-weight:400;
 }

 /* OFFER */

 .offer{
   padding:10rem 1rem;
 }
 .offer-list{
display:flex;
flex:row nowrap;
justify-content:space-between;
 }

 .offer-elem{
  border:1px solid #ddd;
  background: white;
  margin: 1rem;
  flex:1;
   }

   .offer-elem-img{
    width:100%;
    }
    .offer-elem-text{
      padding:2rem;
      text-align:center;
    }
    .offer-separator{
      height:2px;
      width:50px;
      margin:2rem auto;
      background: #333;
    }

    /* WHO */

    .who {
      display:flex;
      flex-flow: row nowrap;
      min-height: 600px;
    }

    .who-content-img{
      flex:1;
      background: url(../images/team.jpg) center center/cover;
    }
    
    .who-content-text{
       flex:1; 
      padding:4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .who-content p{
      font-size: 1.3rem;
      line-height: 1.8rem;
    }

     .who-content h2{ 
      margin-bottom:  2rem;
    }

    /* TESTIMONIALS */

    .testimonials{
      padding:5rem 1rem;
    }

    .testimonials-content{
      display: flex;
      flex-direction: column;
    }
    .testimonials-elem{
      flex:1; 
      background: white;
      padding:2rem;
      border-radius: 5px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 1rem;
      justify-content: space-between;
    }

    .testimonials-elem-text{
      padding: 0 2rem;
    }

    .testimonials-elem-profil-text p{ 
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .testimonials-elem-profil img{
      width: 50px;
      border-radius: 50px;
      margin-bottom: 0.5rem;

    }
    .testimonials-elem-text p i{
      margin: 0 2rem;
    }

    /* Contact */

    .contact{
      padding: 10rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-form{
      max-width: 600px;
      display: flex;
      flex-direction: column;
      width:100%;
    }

    .contact-form input{
      background: #333;
      border:0;
      border-bottom: 1px solid #555;
      padding:1rem;
      font-size: 1.3rem;
      color: white;
      outline:0;
      margin-bottom: 1rem;
    }

    .contact-form button{
      background: #f1c40f;
      color:white;
      display:block;
      margin:3rem auto;
      padding:1rem 2rem; 
      border:0;
      border-radius: 30px;
      font-weight: 700;
      font-size: 1.3rem;
      cursor:pointer;
    }

    .contact-form button:hover{
      background: red;
    }

    /* FOOTER */
    footer{
      background: #444;
      color:white;
      text-align: center;
      padding: 3rem 1rem;

    }
footer p{
  margin-bottom: 0;
}
